# EDA

# Libraries

In [1]:
import pandas as pd
import os

In [5]:
df_satelites = pd.read_csv('../others/Levantamiento de Informaci贸n/Informacion CD a Satelites.csv')
df_satelites.head()

,nombre,latitud,longitud,distance.text,distance.value,duration.text,duration.value,duration_in_traffic.text,duration_in_traffic.value,status
0,Abaroa,-16.512483,-68.128476,11.1 km,11117,35 mins,2078,36 mins,2176,OK
1,Llojeta,-16.527796,-68.129577,12.7 km,12657,31 mins,1889,33 mins,1998,OK
2,Cota Cota,-16.538659,-68.060496,23.9 km,23929,54 mins,3216,58 mins,3501,OK
3,Achachicala,-16.483875,-68.147618,16.8 km,16794,31 mins,1852,36 mins,2186,OK
4,Mallasa,-16.570317,-68.085339,20.6 km,20593,46 mins,2778,47 mins,2829,OK

In [6]:
df_hexa = pd.read_csv('../others/Levantamiento de Informaci贸n/Caracterizaci贸n de hexagonos de La Paz.csv')
df_hexa.head()

,h3_address,lon.centroid,lat.centroid,area.m2,area.km2,media.boletas.mes,media.clientes.mes,media.suma.cajas.mes,Cantidad.ventas,suma.cajas,media.cajas.por.venta,Total.clientes,media.cajas.cliente
0,89b3218a69bffff,-68.030844,-16.577684,111550.134970,0.111550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,89b3218b003ffff,-68.073169,-16.608993,111596.259373,0.111596,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,89b3218b007ffff,-68.070413,-16.610737,111590.812619,0.111591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,89b3218b017ffff,-68.070192,-16.607459,111592.591714,0.111593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,89b3218b023ffff,-68.067879,-16.615759,111583.584631,0.111584,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_matrix = pd.read_csv('../others/Levantamiento de Informaci贸n/Informacion Satelites a Hexagonos.csv')
df_matrix.head()

,h3_address,lat.centroid,lon.centroid,Satelite,lat.satelites,lon.satelites,distance.text,distance.value,duration.text,duration.value,duration_in_traffic.text,duration_in_traffic.value,status
0,89b321d6033ffff,-16.517695,-68.141718,Abaroa,-16.512483,-68.128476,3.3 km,3294,10 mins,588,9 mins,558,OK
1,89b321d6033ffff,-16.517695,-68.141718,Llojeta,-16.527796,-68.129577,4.7 km,4731,11 mins,686,12 mins,712,OK
2,89b321d6033ffff,-16.517695,-68.141718,Cota Cota,-16.538659,-68.060496,14.3 km,14282,31 mins,1861,32 mins,1922,OK
3,89b321d6033ffff,-16.517695,-68.141718,Achachicala,-16.483875,-68.147618,5.0 km,4958,20 mins,1194,18 mins,1054,OK
4,89b321d6033ffff,-16.517695,-68.141718,Mallasa,-16.570317,-68.085339,14.5 km,14510,31 mins,1875,32 mins,1909,OK